logs
*.log
npm-debug.log*
node_modules
dist
dist-server
dist-ssr
release
.data
*.local
.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
